
.order-title {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-top: 25px;
    color: #111;
}

.order-items {
    max-width: 900px;
    margin: 0 auto;
}

.order-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 3px 14px rgba(0,0,0,0.09);
    margin-bottom: 18px;
    border: 1px solid #e7e7e7;
}

.order-img img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    
}

.order-info h4 {
    margin: 0 0 4px 0;
    font-weight: 700;
    font-size: 18px;
    color: #111;
}

.order-info p {
    margin: 4px 0;
    font-size: 15px;
    color: #444;
}

/* Responsive */
@media(max-width:600px) {
    .order-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-img img {
        width: 100%;
        max-width: 200px;
    }
}
