{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products.css' %}?v={{time}}">
<link rel="stylesheet" href="{% static 'nav.css' %}?v={{time}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}

{% block content %}
<nav class="navbar">
  <div class="hamburger">☰</div>
  
  <a href="#" class="logo">Rezoni</a>
  
  <ul class="nav-menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'product' %}">Collections</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>
    <li><a href="{% url 'ordered' %}">Ordered</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>

  <div class="icons">
    <a href="{% url 'viewcart' %}">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</nav>

<!-- Place this script at the end of your body -->
<script>
document.addEventListener('DOMContentLoaded', function () {
  const hamburger = document.querySelector('.hamburger');
  const navMenu = document.querySelector('.nav-menu');

  hamburger.addEventListener('click', () => {
    navMenu.classList.toggle('active');
  });
});
</script>


<h1 class="h1">Collections</h1>


<div class="product-row">
    {% for i in product %}
    
    <div class="product-card">
        {% if i.cover %}
        
        <img src="{{i.cover.url}}" alt="{{i.name}}" class="product-image" />
        {% endif %}

        
        <p class="brand">{{i.name}}</p>
        <h3 class="title">{{i.model}}</h3>

        
        <div class="price">
            <span class="current">{{i.price}}</span>
            <span class="old">Rs. 1,499.00</span>
        </div>

        

        
        <button class="add-cart">
            <a href="{% url 'addcart' i.id %}">ADD TO CART</a>
        </button>
    </div>
    {% endfor %}
</div>

{% endblock %}
