{% extends 'nav.html' %}
{% load static %}
{% block title %}Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products.css' %}?v={{time}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}

{% block content %}


<h1 class="h1">Collections</h1>


<div class="product-row">
    {% for i in product %}
    
    <div class="product-card">
        {% if i.cover %}
        
        <img src="{{i.cover.url}}" alt="{{i.name}}" class="product-image" />
        {% endif %}

        
        <p class="brand">{{i.name}}</p>
        <h3 class="title">{{i.model}}</h3>

        
        <div class="price">
            <span class="current">{{i.price}}</span>
            <span class="old">Rs. 1,499.00</span>
        </div>

        

        
        <button class="add-cart">
            <a href="{% url 'addcart' i.id %}">ADD TO CART</a>
        </button>
    </div>
    {% endfor %}
</div>

{% endblock %}
