{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout.css' %}?v={{time}}">
<link rel="stylesheet" href="{% static 'nav.css' %}?v={{time}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}

{% block content %}
<nav class="navbar">
  <div class="hamburger">☰</div>
  
  <a href="#" class="logo">Rezoni</a>
  
  <ul class="nav-menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'product' %}">Collections</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>
    <li><a href="{% url 'ordered' %}">Ordered</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>

  <div class="icons">
    <a href="{% url 'viewcart' %}">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</nav>

<!-- Place this script at the end of your body -->
<script>
document.addEventListener('DOMContentLoaded', function () {
  const hamburger = document.querySelector('.hamburger');
  const navMenu = document.querySelector('.nav-menu');

  hamburger.addEventListener('click', () => {
    navMenu.classList.toggle('active');
  });
});
</script>

<div class="purchase-all">
<h2>Order Summary</h2>

<div class="order-items">
{% for item in cart_items %}
<div class="order-item">
    {% if item.product.cover %}
        <img src="{{item.product.cover.url}}">
    {% endif %}
    <div class="details">
        <p><strong>{{item.product.name}}</strong></p>
        <p>Model: {{item.product.model}}</p>
        <p>Qty: {{item.quantity}}</p>
    </div>
    <div class="price">
        ₹{{ item.product.price }}
    </div>
</div>
{% endfor %}
</div>


<h3>Total: ₹{{ total }}</h3>

<hr>

<form method="post" action=""> 
  {% csrf_token %}
<div class="form-field-group">
  <label>Delivery Address</label><br>
  <textarea name="address" required></textarea><br><br>
  <label>Phone Number</label> <br>
  <input type="tel" placeholder="Enter Phone Number" maxlength="14" pattern="[0-9]{10}" required name="phone"> <br><br>

  <label>Select iPhone Model</label><br>
  <select name="iphone_model" required>
  <option value="">Select model</option>
  <option value="iPhone 11">iPhone 11</option>
  <option value="iPhone 11 Pro">iPhone 11 Pro</option>
  <option value="iPhone 11 Pro Max">iPhone 11 Pro Max</option>
  <option value="iPhone 12">iPhone 12</option>
  <option value="iPhone 12 Pro">iPhone 12 Pro</option>
  <option value="iPhone 12 Pro Max">iPhone 12 Pro Max</option>
  <option value="iPhone 13">iPhone 13</option>
  <option value="iPhone 13 Pro">iPhone 13 Pro</option>
  <option value="iPhone 13 Pro Max">iPhone 13 Pro Max</option>
  <option value="iPhone 14">iPhone 14</option>
  <option value="iPhone 14 Pro">iPhone 14 Pro</option>
  <option value="iPhone 14 Pro Max">iPhone 14 Pro Max</option>
  <option value="iPhone 15">iPhone 15</option>
  <option value="iPhone 15 Pro">iPhone 15 Pro</option>
  <option value="iPhone 15 Pro Max">iPhone 15 Pro Max</option>
  

  <option value="iPhone 16">iPhone 16</option>
  <option value="iPhone 16 Pro">iPhone 16 Pro</option>
  <option value="iPhone 16 Pro Max">iPhone 16 Pro Max</option>

  <option value="iPhone 17">iPhone 17</option>
  <option value="iPhone 17 Pro">iPhone 17 Pro</option>
  <option value="iPhone 17 Pro Max">iPhone 17 Pro Max</option>
  </select><br><br>

  <!-- From Uiverse.io by fthisilak --> 
<button class="pay-btn">
  <span class="btn-text">Pay Now</span>
  <div class="icon-container">
    <svg viewBox="0 0 24 24" class="icon card-icon">
      <path
        d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18C2,19.11 2.89,20 4,20H20C21.11,20 22,19.11 22,18V6C22,4.89 21.11,4 20,4Z"
        fill="currentColor"
      ></path>
    </svg>
    <svg viewBox="0 0 24 24" class="icon payment-icon">
      <path
        d="M2,17H22V21H2V17M6.25,7H9V6H6V3H18V6H15V7H17.75L19,17H5L6.25,7M9,10H15V8H9V10M9,13H15V11H9V13Z"
        fill="currentColor"
      ></path>
    </svg>
    <svg viewBox="0 0 24 24" class="icon dollar-icon">
      <path
        d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"
        fill="currentColor"
      ></path>
    </svg>

    <svg viewBox="0 0 24 24" class="icon wallet-icon default-icon">
      <path
        d="M21,18V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V6H12C10.89,6 10,6.9 10,8V16A2,2 0 0,0 12,18M12,16H22V8H12M16,13.5A1.5,1.5 0 0,1 14.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,12A1.5,1.5 0 0,1 16,13.5Z"
        fill="currentColor"
      ></path>
    </svg>

    <svg viewBox="0 0 24 24" class="icon check-icon">
      <path
        d="M9,16.17L4.83,12L3.41,13.41L9,19L21,7L19.59,5.59L9,16.17Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</button>

</form>
</div>
</div>
{% endblock %}